* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

.bg {
  background-color: #232a38;
  color: white;
  /* background-repeat: repeat; */
}

header {
  margin-left: 50px;
  margin-top: 100px;
}

.awesome {
  width: fit-content;
  color: black;
  background-color: white;
  padding: 25px;
  margin-top: 50px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  width: 450px;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  width: 400px;
}

.content-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

content {
  display: flex;
  justify-content: left;
  flex-direction: row;
  padding-bottom: 50px;
  margin-top: 100px;
}

.sayHello {
  display: flex;
  flex-direction: row;
  background-color: #232a38;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
